<div class="inventory-sublist" data-sublist-id="inventory-wealth" style="flex: 0;">
    <div class="flexrow" style="flex: 0">
        <h2 class="block-header inventory-toggleable-header" style="flex: 1">{{ localize 'D35E.Wealth'}}<i class="fas fa-angle-double-down toggle-open" style="margin-left: 4px; font-size: 16px;"></i><i
            class="fas fa-angle-double-right toggle-close" style="display: none; margin-left: 4px; font-size: 16px;"></i></h2>
    </div>
    <div class="inventory-filters item-list">

        <ol class="currency flexrow">
            <h3>
                {{ localize 'D35E.Currency' }}
                <!-- <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a> -->
            </h3>
            {{#each data.currency as |v k|}}
            <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
            <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number" />
            {{/each}}
        </ol>
        {{#if isCharacter}}
        <ol class="currency flexrow">
            <h3>
                {{ localize 'D35E.WeightlessCurrency' }}
                <!-- <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a> -->
            </h3>
            {{#each data.altCurrency as |v k|}}
            <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
            <input type="text" name="data.altCurrency.{{k}}" value="{{v}}" data-dtype="Number" />
            {{/each}}
        </ol>
        {{/if}}
        {{#each currencyGroups as |c k|}}
        <ol class="currency flexrow">
            <h3>
                {{ k }}
                <!-- <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a> -->
            </h3>
            {{#each c as |curr|}}
            <label class="denomination {{k}}">{{ lookup curr 1 }}</label>
            <input type="text" name="data.customCurrency.{{lookup curr 0}}"
                value="{{lookup ../../data.customCurrency (lookup curr 0)}}" data-dtype="Number" />
            {{/each}}
        </ol>
        {{/each}}

    </div>
</div>
<div class="flexrow" style="flex: 0">
    <h2 class="block-header" style="flex: 1">{{ localize
    'D35E.Items'}}</h2><a class="btn open-add-items point-buy-button blue-button open-compendium-pack"
        data-pack="inline:items:weapon,equipment,consumable,loot:-:{{ localize 'D35E.Items'}}"
        onkeydown="e.preventDefault();">
        {{ localize 'D35E.AddItem' }}
    </a><a class="btn point-buy-button blue-button group-inventory tooltip" style="flex: 0 40px"
        data-pack="inline:items:weapon,equipment,consumable,loot:-:{{ localize 'D35E.Items'}}"
        onkeydown="e.preventDefault();">
        <i class="fas fa-broom" style="color: white !important;"></i><span class="tooltipcontent"
            style="z-index: 1000">{{localize "D35E.SortInventory"}}</span>
    </a>
</div>
{{!-- Inventory Navigation --}}
<!--<nav class="sheet-navigation tabs subtabs inventory" data-group="inventory">-->
<!--  {{#each sections as |section sid|}}-->
<!--  <a class="item" data-tab="{{sid}}">{{section.label}}</a>-->
<!--  {{/each}}-->
<!--</nav>-->

<!--<section class="inventory-body">-->
<!--  <div class="tab inventory-group flexcol" data-group="inventory" data-tab="{{sid}}">-->
<ol class="inventory-list sub-scroll scroll-primary">
    {{#each sections as |section sid|}}
    <div class="inventory-sublist" data-sublist-id="inventory-{{sid}}">
        <li class="inventory-header flexrow scrolling-header">
            <h3 class="item-name inventory-toggleable-header flexrow"><i class="fas fa-folder-open toggle-open"></i><i
                    class="fas fa-folder toggle-close" style="display: none"></i>{{section.label}}</h3>

            {{#if section.hasSlots}}
            <div class="item-detail item-slot"><span>{{ localize 'D35E.Slot' }}</span></div>
            {{/if}}
            {{#if section.hasActions}}
            <div class="item-detail item-actions"><span>{{ localize 'D35E.ActionPlural' }}</span></div>
            {{/if}}

            {{#if section.isContainer}}
            <div class="item-detail item-actions"><span>{{ localize 'D35E.Capacity' }}</span></div>
            {{/if}}
            <div class="item-detail item-weight"><span>{{ localize 'D35E.ItemWeight' }}</span></div>
            {{#if ../isGM}}
            <div class="item-detail item-identified"><span>{{ localize 'D35E.IdentifiedShort' }}</span></div>
            {{/if}}
            <div class="item-detail item-carried"><span>{{ localize 'D35E.Carried' }}</span></div>
            {{#if section.canEquip}}
            <div class="item-detail item-equipped"><span>{{ localize 'D35E.Equipped' }}</span></div>
            {{/if}}
            <div class="item-detail item-container"><span>{{ localize 'D35E.Container' }}</span></div>
            <div class="item-detail item-uses"><span>{{ localize 'D35E.ChargePlural' }}</span></div>

            {{#if ../owner}}
            <div class="item-controls">
                {{#if section.canCreate}}
                <!--          {{#if section.hasPack}}-->
                <!--          <a  class="open-compendium-pack" data-pack="{{section.pack}}" title="{{ localize 'D35E.CreateItem' }}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>-->
                <!--          <i class="fas fa-atlas"></i> {{ localize 'D35E.Add' }}-->
                <!--          </a>-->
                <!--          {{/if}}-->
                <a class="item-control item-create" style="flex: 0; margin-left: 4px;"
                    title="{{ localize 'D35E.CreateItem' }}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"
                    {{/each}}>
                    <i class="fas fa-plus"></i> {{ localize 'D35E.New' }}
                </a>
                {{/if}}
            </div>
            {{/if}}
        </li>

        <ol class="item-list">
            {{#each section.items as |item iid|}}
            <li class="item flexrow inventory-sublist" data-item-id="{{item._id}}" data-sublist-id="{{item._id}}">

                {{#if section.isContainer}}
                <div class="item-name-ne flexrow  {{#if item.data.melded}}melded{{/if}} {{#if item.emptyOrBroken}}melded{{/if}}">
                    <div class="item-image rollable" style="background-image: url('{{item.img}}')">
                        {{#if item.data.melded}}<i class="fas fa-paw"></i>{{/if}} 
                        {{#if item.broken}} <i class="fas fa-heart-broken"></i> {{/if}}
                    </div>
                    <h4 class="rollable{{#if item.emptyOrBroken}} strikethrough-text{{/if}} inventory-toggleable-header">
                        {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
                        {{item.name~}} 
                        
                    </h4>

                </div>
                {{else}}
                <div class="item-name flexrow  {{#if item.data.melded}}melded{{/if}} {{#if item.emptyOrBroken}}melded{{/if}}">
                    <div class="item-image rollable" style="background-image: url('{{item.img}}')">
                        {{#if item.data.melded}}<i class="fas fa-paw"></i>{{/if}} 
                        {{#if item.broken}} <i class="fas fa-heart-broken"></i> {{/if}}
                    </div>
                    <h4 class="rollable{{#if item.emptyOrBroken}} strikethrough-text{{/if}}">
                        {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
                        {{item.name~}}{{#if item.isArcaneScroll}}<em style="opacity: 0.7; color: black; margin-left: 4px;" class="non-rollable">({{ localize 'D35E.Arcane' }})</em>{{/if}}{{#if item.isDivineScroll}}<em style="opacity: 0.7; color: black; margin-left: 4px;" class="non-rollable">({{ localize 'D35E.Divine' }})</em>{{/if}}
                        {{#if item.possibleUpdate}}
                            <i class="fas fa-arrow-up tooltip non-rollable" style="color: darkred">
                            <div class="tooltipcontent">{{{ localize 'D35E.PossibleUpdate' }}}
                            </div>
                            </i>
                        {{/if}}
                    </h4>
                </div>
                {{/if}}

                {{#if section.hasSlots}}
                <div class="item-detail item-slot">
                    {{#unless item.showUnidentifiedData}}
                    {{#if item.labels.slot}}
                    <span>{{item.labels.slot}}</span>
                    {{/if}}
                    {{/unless}}
                </div>
                {{/if}}

                {{#if section.hasActions}}
                <div class="item-detail item-actions">
                    {{#unless item.showUnidentifiedData}}
                    {{#if item.hasAction}}
                    <div class="item-attack">

                        {{#unless item.data.melded}}
                        <a class="item-control item-attack"><img class="icon"
                                src="systems/D35E/icons/actions/gladius.svg"></a>

                        {{/unless}}
                    </div>
                    {{/if}}
                    {{/unless}}
                </div>
                {{/if}}

                {{#if section.isContainer}}
                <div class="item-actions">
                    <div class="capacity">
                        <span class="capacity-bar"
                            style="width:{{#if item.data.capacity}}{{item.itemsWeightPercentage}}%{{/if}}"></span>
                        <span
                            class="capacity-label">{{item.itemsWeight}}{{#if item.convertedCapacity}}/{{item.convertedCapacity}}{{/if}}
                            {{ item.units }}</span>
                    </div>
                </div>
                {{/if}}

                <div class="item-detail item-weight">
                    {{#if item.totalWeight}}
                    <span>
                        {{ item.totalWeight }} {{ item.units }}
                    </span>
                    {{/if}}
                </div>

                {{#if ../../isGM}}
                <div class="item-detail item-identified">
                    <a class="item-control item-identify"><span>{{item.labels.identified}}</span></a>
                </div>
                {{/if}}

                <div class="item-detail item-carried">
                    <a class="item-control item-carry"><span>{{item.labels.carried}}</span></a>
                </div>

                {{#if section.canEquip}}
                <div class="item-detail item-equipped">
                    <a class="item-control item-equip"><span>{{item.labels.equipped}}</span></a>
                </div>
                {{/if}}
                <div class=" item-detail item-container">
                    <select name="item.data.containerId" style="width: 100%; border: 1px rgba(0,0,0,0.3) dashed;"
                        data-dtype="String" class="container-selector">
                        {{#select item.data.containerId}}
                        <option value="">{{ localize 'D35E.None' }}</option>
                        {{#each @root.containerList as |container a|}}
                        <option value="{{container.id}}" style="text-transform: capitalize">{{container.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                    <div class="flexrow">
                        {{#unless item.showUnidentifiedData}}
                        {{#if item.isCharged}}
                        {{#unless item.isRecharging}}
                        {{#unless item.data.linkedChargeItem.id}}
                        <input type="text" value="{{item.data.uses.value}}" data-dtype="Number" />
                        {{else}}
                        <input type="text" value="{{item.charges}}" disabled data-dtype="Number" />
                        {{/unless}}
                        <span class="sep"> of </span>
                        {{#unless item.data.linkedChargeItem.id}}
                        <input type="text" value="{{item.maxCharges}}" disabled data-dtype="Number" />
                        {{else}}
                        <input type="text" value="{{item.maxCharges}}" disabled data-dtype="Number" />

                        {{/unless}}
                        <span class="tooltipcontent">
                            @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
                            @resources.{{item.tag}}.max : {{item.data.uses.max}}
                            {{#if item.hasTimedRecharge}}
                            <br><br>
                            This item will recharge after use <br>after {{item.data.recharge.formula}} rounds.
                            {{/if}}
                        </span>
                        <i class="fas fa-history recharge-icon"></i>
                        {{else}}
                        <span><i class="fas fa-history"></i> Ready in {{item.data.recharge.current}}</span>
                        {{/unless}}
                        {{/if}}
                        {{/unless}}

                        
                    </div>

                    {{#unless item.showUnidentifiedData}}
                    {{#if item.canRecharge}}
                    <div class="item-attack" style="margin-left: 4px; flex: 0 17px">
                        <a class="item-control item-recharge"><img class="icon"
                                src="systems/D35E/icons/actions/lightning-electron.svg"></a>
                    </div>
                    {{/if}}
                    {{/unless}}
                </div>


                {{#if ../../owner}}
                <div class="item-controls">
                    <a class="item-control item-quantity-add"><i class="fas fa-plus"></i></a>
                    <a class="item-control item-quantity-subtract"><i class="fas fa-minus"></i></a>
                    <a class="item-control item-edit" title="{{ localize 'D35E.EditItem' }}"><i
                            class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{ localize 'D35E.DeleteItem' }}"><i
                            class="fas fa-trash"></i></a>
                </div>
                {{/if}}
                {{#if section.isContainer}}
                <div class="item-summary" style="padding: 0">
                    <ol class="item-list container"
                        style="border-top: none; border-bottom: 1px solid #c9c7b8; padding-left: 11px; margin-left: 12px; border-left: 3px dotted #c9c7b8;">
                        {{#each item.containerItems as |iitem iiid|}}
                        <li class="item item-box flexrow" data-item-id="{{iitem._id}}">
                            <div class="item-name child-item  flexrow rollable">
                                <div class="item-image" style="background-image: url('{{iitem.img}}')"></div>
                                <h4>
                                    {{~#if iitem.isStack}}({{iitem.data.quantity}}) {{/if}}{{iitem.name}}</h4>

                            </div>

                            
                            {{#if item.data.containerCanUseItems}}
                            <div class="item-detail flexrow" style="flex: unset;">
                                <div class="item-detail item-actions" style="flex: 0 20px;">
                                    {{#unless iitem.showUnidentifiedData}}
                                    {{#if iitem.hasAction}}
                                    <div class="item-attack">

                                        {{#unless item.data.melded}}
                                        <a class="item-control item-attack"><img class="icon"
                                                src="systems/D35E/icons/actions/gladius.svg"></a>

                                        {{/unless}}
                                    </div>
                                    {{/if}}
                                    {{/unless}}
                                </div>

                                <div class="item-detail item-uses flexrow {{#if iitem.isCharged}}tooltip{{/if}}" style="flex: 0 75px;">

                                    <div class="flexrow">
                                        {{#unless iitem.showUnidentifiedData}}
                                        {{#if iitem.isCharged}}
                                        {{#unless iitem.isRecharging}}
                                        {{#unless iitem.data.linkedChargeItem.id}}
                                        <input type="text" value="{{iitem.data.uses.value}}" data-dtype="Number" />
                                        {{else}}
                                        <input type="text" value="{{iitem.charges}}" disabled data-dtype="Number" />
                                        {{/unless}}
                                        <span class="sep"> of </span>
                                        {{#unless iitem.data.linkedChargeItem.id}}
                                        <input type="text" value="{{iitem.maxCharges}}" disabled data-dtype="Number" />
                                        {{else}}
                                        <input type="text" value="{{iitem.maxCharges}}" disabled data-dtype="Number" />

                                        {{/unless}}
                                        <span class="tooltipcontent">
                                            @resources.{{iitem.tag}}.value : {{iitem.data.uses.value}}<br>
                                            @resources.{{iitem.tag}}.max : {{iitem.data.uses.max}}
                                            {{#if iitem.hasTimedRecharge}}
                                            <br><br>
                                            This item will recharge after use <br>after {{iitem.data.recharge.formula}} rounds.
                                            {{/if}}
                                        </span>
                                        {{#if iitem.hasTimedRecharge}}
                                        <i class="fas fa-history recharge-icon"></i>
                                        {{/if}}
                                        {{else}}
                                        {{#if iitem.hasTimedRecharge}}
                                        <span><i class="fas fa-history"></i> Ready in {{iitem.data.recharge.current}}</span>
                                        {{/if}}
                                        {{/unless}}
                                        {{/if}}
                                        {{/unless}}

                                        
                                    </div>

                                    {{#unless iitem.showUnidentifiedData}}
                                    {{#if iitem.canRecharge}}
                                    <div class="item-attack" style="margin-left: 4px; flex: 0 17px">
                                        <a class="item-control item-recharge"><img class="icon"
                                                src="systems/D35E/icons/actions/lightning-electron.svg"></a>
                                    </div>
                                    {{/if}}
                                    {{/unless}}
                                </div>
                            </div>
                            {{/if}}
                            <div class="item-detail item-container">
                                <select name="iitem.data.containerId"
                                    style="width: 100%; border: 1px rgba(0,0,0,0.3) dashed;" data-dtype="String"
                                    class="container-selector">
                                    {{#select iitem.data.containerId}}
                                    <option value="">{{ localize 'D35E.None' }}</option>
                                    {{#each @root.containerList as |container a|}}
                                    <option value="{{container.id}}" style="text-transform: capitalize">
                                        {{container.name}}
                                    </option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>

                            <div class="item-detail item-uses flexrow {{#if iitem.isCharged}}tooltip{{/if}}">
                                </div>
                            {{#if ../../../owner}}
                            <div class="item-controls">
                                <a class="item-control item-edit" title="{{ localize 'D35E.EditItem' }}"><i
                                        class="fas fa-edit"></i></a>
                                {{#unless item.data.userNonRemovable}}
                                <a class="item-control item-delete" title="{{ localize 'D35E.DeleteItem' }}"><i
                                        class="fas fa-trash"></i></a>
                                {{/unless}}
                            </div>
                            {{/if}}
                        </li>
                        {{else}}
                        <h3 class="sublist-empty">{{ localize 'D35E.ContainerIsEmpty' }}</h3>
                        {{/each}}
                    </ol>
                </div>
                {{/if}}
            </li>
            {{/each}}
        </ol>
    </div>
    {{/each}}
</ol>
<!--</div>-->
<!--</section>-->


{{#unless isLootSheet}}
<div class="form-group carry-bonus">
    <label>{{ localize 'D35E.BonusCarryStrength' }}</label>
    <input type="text" name="data.abilities.str.carryBonus" value="{{data.abilities.str.carryBonus}}"
        data-dtype="Number" placeholder="0" />
    <label>{{ localize 'D35E.Multiplier' }}</label>
    <input type="text" name="data.abilities.str.carryMultiplier" value="{{data.abilities.str.carryMultiplier}}"
        data-dtype="Number" placeholder="1" />
    <label style="flex: 1">{{ localize 'D35E.TotalInventoryValue' }}</label>
    <input type="text" style="flex: 0 0 80px" value="{{totalInventoryValue}}" data-dtype="Number" disabled
        placeholder="1" />
</div>
{{#with encumbrance}}
<span class="carry-label">{{carryLabel}} ({{../coinWeight}} {{ localize 'D35E.Currency' }})</span>
<div class="encumbrance {{#if encumbered.light}}encumbered{{/if}}">
    <span class="encumbrance-bar" style="width:{{pct.light}}%"></span>
    <span class="encumbrance-label">{{ localize 'D35E.CarryLightLoad' }} ({{light}})</span>
</div>
<div class="encumbrance {{#if encumbered.medium}}encumbered{{/if}}">
    <span class="encumbrance-bar" style="width:{{pct.medium}}%"></span>
    <span class="encumbrance-label">{{ localize 'D35E.CarryMediumLoad' }} ({{medium}})</span>
</div>
<div class="encumbrance {{#if encumbered.medium}}encumbered{{/if}}">
    <span class="encumbrance-bar" style="width:{{pct.heavy}}%"></span>
    <span class="encumbrance-label">{{ localize 'D35E.CarryHeavyLoad' }} ({{heavy}})</span>
</div>
{{/with}}
{{else}}
{{#with encumbrance}}
<span class="carry-label">{{carryLabel}}</span>
{{/with}}
{{/unless}}